.layoutContainer {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    .header {
        color: #fff;
        background-color: #343547;
        height: 60px;
        line-height: 60px;
    }
}